:root {
  --border: 4px;
  --size: 340px;
  --textsize: 30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #eec3c3;
}

.board {
  display: grid;
  border: var(--border) solid #473636;
  grid-template-columns: repeat(3, calc(var(--size)/3));
  grid-template-rows: repeat(3, calc(var(--size)/3));

/*   width: calc(var(--size) + 2*var(--border));
  height: calc(var(--size) + 2*var(--border)); */

  /* width: var(--size);
  height: var(--size); */

}

.square {
  background-color: #aba4c4;
  border: var(--border) solid #473636;
  font-size: var(--textsize);
  line-height: var(--textsize);
  font-weight: bold;
/*   width: 100%;
  height: 100%; */
/*   width: calc(100% + var(--border));
  height: calc(100% + var(--border));  */
  text-align: center;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
